@font-face {
  font-family: "iconfont"; /* Project id 2569262 */
  src: url('//at.alicdn.com/t/font_2569262_ujq7d1sto4a.woff2?t=1633681496224') format('woff2'),
       url('//at.alicdn.com/t/font_2569262_ujq7d1sto4a.woff?t=1633681496224') format('woff'),
       url('//at.alicdn.com/t/font_2569262_ujq7d1sto4a.ttf?t=1633681496224') format('truetype');
}

.fa-custom-menu {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin-right: 10px
  // &:hover {
  //     color: $blue;
  // }
}

.fa-custom {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:hover {
      color: $blue;
  }
}

.icon-tag:before {
  content: "\e627";
}

.icon-about:before {
  content: "\e61c";
}

.icon-archive:before {
  content: "\e64e";
}

.icon-home:before {
  content: "\e60f";
}

.icon-categroy:before {
  content: "\e62f";
}

.icon-search:before {
  content: "\e8b9";
}

.icon-email:before {
  content: "\e601";
  font-size: 14px;
}

.icon-zhihu:before {
  content: "\e69a";
}

.icon-github:before {
  content: "\e72a";
}

.icon-tv:before {
  content: "\e600";
}