// radius
$radius = 10px;

// color
$orange-bright= #ffbb99
$orange-light   = #ff9999;

$blue         = #6699ff;
$blue-light   = #77aaff
$blue-bright  = #87daff;
$avater-color = #99d6f3;
$lavender = #CCDDFF;

$purple       = #9966ff;
$purple-blue  = #aa88ff
$purple-light = #aaaaff;
$purple-bright = #CCDDFF;
$purple-little = rgba(212, 226, 253, 0.3)

// Headband
// --------------------------------------------------
$headband-bg                    = $blue-bright;

// Site Meta
$site-meta-text-align           = center;
$brand-color                    = white;
$brand-hover-color              = white;
$brand-color-dark               = $grey-lighter;
$brand-hover-color-dark         = $grey-lighter;

$font-size-title                = (hexo-config('font.enable') and hexo-config('font.title.size') is a 'unit') ? unit(hexo-config('font.title.size'), em) : 1.375em;
$font-size-subtitle             = $font-size-smaller;
$subtitle-color                 = $purple-light;
$site-subtitle-color            = $pink-light;

// Font
// $font-family-chinese = "Noto Serif Simplified Chinese", "Open Sans", "Microsoft YaHei";

// $font-family-base = $font-family-chinese, sans-serif;
// $font-family-base = get_font_family('global'), $font-family-chinese, sans-serif if get_font_family('global');

// $font-family-logo = $font-family-base;
// $font-family-logo = get_font_family('title'), $font-family-base if get_font_family('title');

// $font-family-headings = $font-family-base;
// $font-family-headings = get_font_family('headings'), $font-family-base if get_font_family('headings');

// $font-family-posts = $font-family-base;
// $font-family-posts = get_font_family('posts'), $font-family-base if get_font_family('posts');

// $font-family-monospace = consolas, Menlo, monospace, $font-family-chinese;
// $font-family-monospace = get_font_family('codes'), consolas, Menlo, monospace, $font-family-chinese if get_font_family('codes');

// $font-family-chinese = "Noto Serif SC", "PingFang SC", "Microsoft YaHei";  // 负责调控中文字体（但任何字体设置的优先级更高）。

// $font-family-base = "Open Sans";// 负责调控全局字体，主要是不被下面几类包括的文字。
// // $font-family-logo // 负责调控网站标题的字体。
// $font-family-headings = "Noto Serif SC";// 负责调控 h1-h6 的字体，包括标题与文中小标题。
// // $font-family-posts // 负责调控正文字体。
// // $font-family-monospace // 负责调控代码块的字体。